.container1{
    margin:auto;
    margin-top:50px;
    border:2px solid #ddd;
    width:1000px;
}

.container2{
    margin-top:10px;
    margin-left:120px;
    margin-bottom:20px;

}
.header {
    border:1px solid #ddd;
    background-color:#ddd;
}
.city-image {
    margin-left:20px;
}
